
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: hsl(0, 0%, 20%); 
    padding: 10px 0;
    border-radius: 10px;
}

.nav-list {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: center; 
}

.nav-list li {
    margin: 0 15px; 
}

.nav-list li a {
    color: white; 
    text-decoration: none; 
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.nav-list li a:hover {
    background-color: #575757; 
}

.name-field{
    padding: 350px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 2005;
}

.section-field{
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 5px;
}

.description-field{
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 5px;
}

.account-field-section{
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 5px;
}

.account-holder-field{
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 5px;
}

.bank-number-field{
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 5px;
}

.mobile-section{
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 5px;
}

.send-field{
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 5px;
}

.button-section{
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 5px;
}