* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    min-height: 100vh;
}

nav {
    background-color: burlywood;
    width: 200px;
    padding: 25px;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

header {
    background-color: darkcyan;
    height: 225px;
    display: flex;
    align-items: center;
    padding-left: 50%;
}

main {
    flex: 1;
    display: flex;
}

article {
    flex: 3;
    background-color:ghostwhite;
    display: flex;
    align-items: center;
    justify-content: center;
}

aside {
    flex: 1;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: cadetblue;
    display: flex;
    height: 160px;
    align-items: center;
    justify-content: center;
}
